mixin menu(pages)
    if pages && pages.length
        ul
            each p in pages
                li
                    a(href=relative(p))= p.title
                    if inpath(path, p)
                        +menu(p.treeChildren())

mixin pagemenu(pages)
    if pages && pages.length
        ul
            each p in pages
                li
                    a(href=relative(p))= p.title
                    if inpath(path, p)
                        +menu(p.pageChildren())
doctype
html
    head
        meta(charset='utf-8')
        title=page.title + " | RPLAN - Developer Documentation"
    body
        code
            pre
                = path
        if root
            nav
                +menu(root.treeChildren())
        
        - var pages = page.dirChildren()
        if pages.length
            nav.pages
                ul
                    each p in pages
                        li
                            a(href=relative(p))= p.title

        article
            != page.content
