mixin menu(level)
    - var pages = navigation[level]
    if pages && pages.length
        ul
            each p in pages
                li
                    a(href=relative(p.url))= p.title
                    if level < navigation.length && inpath(p)
                        +menu(level + 1)

doctype
html
    head
        meta(charset='utf-8')
        title=page.title + " | " + title
    body        
        nav
            h1
                a(href=relative(root.url))= title                    
            +menu(0)
        
        if siblings && siblings.length
            nav.pages
                ul
                    each p in siblings
                        li
                            a(href=relative(p.url))= p.title

        article
            != page.content
