doctype 5
html(lang="en")
   head
       title Library Documentation

       style
           .sidebar {
               width: 300px;
           }
           .linklist {

           }
           .main {
               width: 900px;
               height: 700px;
           }
   body
       .sidebar
            ul.linklist
       iframe.main
