doctype 5
html(lang="en")
   head
       title Library Documentation

       style
           .content {
               width: 1400px;
           }
           .sidebar {
               width: 25%;
               height: 700px;
               float: left;
           }
           .linklist {
               list-style-type: none;
           }
           .main {
               width: 75%;
               height: 700px;
               border: 0px;
               float: left;
           }
   body
       .content
           .sidebar
                ul.linklist
                    for file in paths
                        li: a(href=file, target="main") #{file}
           iframe(name="main", src="README.html").main
