mixin navigation(pages)
    ul
        each page in pages
            li(class=[page.state  ? "page--" + page.state : ""])
                a(href="/htmldoc" + (page.url.lastIndexOf("/") == page.url.length - 1 ? page.url + "Readme.html" : page.url))
                    =getTitleForPage(page)
                if page.children
                    +navigation(page.children)