include partials/dynamic_navigation.html.jade
- var styles = getBlock("styles") //- CSS für Plugins
- styles.add(["/adminpage.css", rootPath(document) + "layout.css"])
doctype
html
    head
        meta(charset='utf-8')
        - htmldoc = "RPLAN X"
        - title = document.url.substr(0, document.url.lastIndexOf("/")).split("/").pop()
        - title = title == "" ? htmldoc : title
        title=(document.title  ? document.title : title) + " | RPLAN - Developer Documentation"
        != styles.toHTML()


    body
        .threecolumn
            .content
                div(class=["firstLevelContent", document.url == "/index.html" ? "home" : ""])
                    h2
                        a(href=rootPath(document) + "index.html") Htmldoc
                        a(class="downloadlink", href=rootPath(document) + "htmldoc.tgz")
                            i.fa.fa-download(title="Download HTMLDOC")

                    +navigation(generateMenu(document.url, "features"), 1, 1, 2)
                .secondLevelContent
                    h2=title
                    .pagenavigation
                        +navigation(generateMenu(document.url, "features"), 1, 3, 3)

                    div(class=[devdoccontent, document.contenttype])
                        !=content
        include partials/footer.html.jade