include partials/dynamic_navigation.html.jade
- var scripts = getBlock("scripts") //- JS für Live-Reload und weitere Plugins
- var styles = getBlock("styles") //- CSS für Plugins
- styles.add(["/adminpage.css","/htmldoc/layout.css"])
doctype
html
    head
        meta(charset='utf-8')
        - title = document.url.substr(0, document.url.lastIndexOf("/")).split("/").pop()
        title=(document.title  ? document.title : title) + " | RPLAN - Developer Documentation"
        != styles.toHTML()


    body
        .threecolumn
            .content
                .firstLevelContent
                    h2 Topics
                    +navigation(generateMenu(document.url, "features"), 1)
                .secondLevelContent
                    h2=title
                    - pages = ["Readme", "History", "Commits"]
                    ul.pagenavigation
                        for page in pages
                            - pageUrl = page + ".html"
                            li(class=(pageUrl == (document.url.substr(document.url.lastIndexOf("/")+1)) ? "selected" : ""))
                                a(href=pageUrl)
                                    =page

                    div(class=document.contenttype)
                        !=content
        include partials/footer.html.jade
    != scripts.toHTML()