.threecolumn .content
    width: 100%
    display flex
    .firstLevelContent, .secondLevelContent
        flex-grow 1
        flex-shrink 1
        flex-wrap nowrap
    .firstLevelContent
        max-width: 25%
        padding: 0
        &:not(.home):after
            display: none
        h2
            margin: 0 1em 1em 1em
            position: relative
            overflow: auto
            a
                text-decoration: none
                color: inherit
                &.downloadlink
                    float: right
        > ul
            height: calc(100% - 7em)
        ul
            list-style: none
            padding: 0
            margin: 0
            overflow: auto
            li
                margin: 0
                display:  none
                padding: 0
                line-height 2em
                position: relative
                &.page--current, &.page--current > ul > li, &.page--parent, &.page--parent > ul > li
                    display: block
                &.page--current > a, &.page--parent.level2 > a
                    background: #c8def5
                    &:after
                        position: absolute
                        content: ""
                        width: 0
                        height: 0
                        right: 0
                        top: 0
                        border-top: 1em solid transparent
                        border-bottom: 1em solid transparent
                        border-right: 1em solid #fff
                        display: block


                &.page--current > a,
                &.page--parent > a
                    font-weight: bold
                a
                    color: #000000
                    text-decoration none
                    padding-left: (24/12em)
                    display: block
                li a
                    padding-left: (36/12em)
                li li a
                        padding-left: (48/12em)
        &.home .level1
            display: block


    .secondLevelContent
        max-width: 75%
        .pagenavigation > ul
            display: flex
            list-style: none
            padding: 0
            margin: 0
            max-width 80%
            li
                flex-grow: 1
                background: rgb(179,179,179)
                padding: 0
                border-left: 1px solid #fff
                a
                    display: block
                    padding: 0.5em
                    text-align: center
                    color: #fff
                    text-decoration none
                    
                &.page--current a, &:hover a
                    background: #1a76d5
        .commitlog
            > ul
                list-style: none
                padding: 0
                > li
                    border-bottom: 1px solid lightgray
                    padding: 0 0 1em 0

    @media screen and (max-width: 500px)
        .firstLevelContent
            position: relative
            display: inline-block
            max-width: calc(100%)
            width: calc(100%)
            &:after
                display: none
            &.edit
                display: none
        .secondLevelContent
            position: relative
            display: none
            max-width: calc(100%)
            width: calc(100%)
        .firstLevelContent.edit + .secondLevelContent
            display: inline-block